cachetools==4.1.1
certifi==2020.6.20
cycler==0.10.0
dataclasses==0.6
future==0.18.2
joblib==0.16.0
kiwisolver==1.2.0
matplotlib==3.3.1
numpy==1.19.5
onnx==1.10.1
onnxruntime==1.5.2
pandas==1.1.1
Pillow==7.2.0
protobuf==3.19.4
psutil==5.9.0
pyparsing==3.0.7
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.4.1
scikit-learn==0.23.2
scipy==1.5.4
seaborn==0.10.1
six==1.15.0
threadpoolctl==2.1.0
torch==1.10.1
torchvision==0.11.2
typing_extensions==4.1.1
uproot==4.3.3
Wasserstein==1.0.1
wurlitzer==3.0.2
